* {
    margin: 0;
   padding: 0;
}
body{
    background-color: rgba(205, 205, 205, 0.671);
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}

h1{
    position: relative;
    text-align: center;
}
.titulo 
{
    align-items: center;
    text-align: center;
    position: relative;
    height: 0;
}
ul {
    display: flex;
    background-color: rgba(84, 62, 145, 0.726);
    height: 100px;
    
     
}

.fa-home {
   color: rgb(249, 248, 250);
position: relative;
   left: 20px;
   top: 40px;
   
}

.fa-home:hover {
 color: rgb(132, 0, 255);
}


li {
    text-decoration: none;
    text-align: center;
    display: flex;
    position: relative;
    width: 70px;   
    align-items: center;
    text-align: center;
    left: 50px;
}
a{
    text-align:center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

a:hover {
    color: rgb(134, 5, 255);
}

.container{
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: rgba(84, 62, 145, 0.726);
    height: 450px;
    width: 300px;

}

.container:hover{
transform: translateX(10px);
    transition: all 0.3s ease-in-out;

}

.button {
    display:flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: right;
}
 .nome-produto{
    display: block;
    color: rgb(234, 234, 237);
    text-align: center;
    text-size-adjust:50px ;
    text-shadow: 10px black;
 }
 .conteudo {
    align-items: center;
 }
 .descricao-produto{
    color: aliceblue;
position:absolute;
    align-items: center;
    justify-content: center;
    left: 20px;
 }

 .fa-whatsapp {
    color:rgb(32, 131, 2);
    font-size: 80px;
	display: inline;
	position: fixed;
	right: 45px;
    height: 1700px;
}

.fa-whatsapp:hover {
    color: rgb(82, 237, 5);
}


.rodape {
	background-color: rgba(84, 62, 145, 0.726);
	display: flex;
	justify-content: center;
	color: #fdfbfb;
	padding: 20px;
	margin-top: 60px;
}


@media (max-width: 450px) {
	.cabecalho{display: inline-block ;}
	.logo {display: flex;}
}